
<ion-view view-title="About">
    <ion-content>
        <div class="im-wrapper">
            <img class="main_logo" src="img/nascent_web.png" />
            <img class="about_image" src="img/about.png" />
            <div class="nascent_url_container">
                <a class="nascent_url" href="http://www.nascentobjects.com">www.nascentobjects.com</a>
            </div>
            <!--
            <h4 class="border-top">Nascent Objects Inc.</h4>
            -->
        </div>
    </ion-content>
</ion-view>
