
<ion-view view-title="About">
    <ion-content>
        <div class="im-wrapper">
            <h4 class="border-top">Issues connecting App to Shape</h4>
            <div class="divst divst-inset">
                <div class="item"><p>1. Force quit any running Nascent Setup app</p></div>
                <div class="item"><p>2. Unplug and replug in your device</p></div>
                <div class="item"><p>3. Wait two minutes for device to reboot</p></div>
                <div class="item"><p>4. Cycle bluetooth in your phone's OS settings</p></div>
                <div class="item"><p>5. Disconnect from any bluetooth device</p></div>
                <div class="item"><p>6. Run the Nascent Setup app</p></div>
                <div class="item"><p>7. Press the button on the back of your device</p></div>
                <div class="item"><p>8. Wait 30 seconds for a connection</p></div>
            </div>
        </div>
    </ion-content>
</ion-view>
